*~
ebin/*
.eunit/*
doc/*
deps/*
erl_crash.dump
EUnit-SASL.log
priv/admin/js/generated/templates.js
priv/admin/js/generated/vendor.js
tags
erln8.config
.local_dialyzer_plt
dialyzer_unhandled_warnings
dialyzer_warnings
