%% -*- mode: erlang -*-
{erl_opts, [warnings_as_errors, debug_info]}.
{edoc_opts, [{preprocess, true}]}.
{cover_enabled, true}.
{deps, [
       {webmachine, "1.9.1",
        {git, "git://github.com/basho/webmachine", {tag, "1.9.1"}}},
       {riak_core, "1.1.2",
        {git, "git://github.com/basho/riak_core", {tag, "1.1.2"}}}
       ]}.

