%% -*- mode: erlang -*-
{erl_opts, [warnings_as_errors, debug_info]}.
{edoc_opts, [{preprocess, true}]}.
{cover_enabled, true}.
{deps, [
       {webmachine, ".*",
        {git, "git://github.com/basho/webmachine", {branch, "master"}}},
       {riak_core, ".*",
        {git, "git://github.com/basho/riak_core", {branch, "master"}}},
       {erlydtl, ".*",
        {git, "git://github.com/evanmiller/erlydtl.git", {branch, "master"}}}
       ]}.

