
/*
CSS to be applied ONLY on the cluster page
*/

@import reusable

h3
  copy-font()

#add-node
  padding-top : 40px
  
.add-node-table tr td
  padding-top : 25px

.more-node-actions
  display : none
  
.button-column
  text-align : right


