
/* 
Styles to be applied generally across the UI
*/

/* Tags */

html
  repeatingBg('/admin/ui/images/gui-bg.jpg', darkGray)

body
  padding : 0

a
  text-decoration : none

  &:visited
    color : lightGray

h1, h2, h3
  display : block

h1
  hSize(48px, 0, 5px)

h2
  hSize(38px, 0, 12px)

h3
  @extend .copy-font
  hSize(20px, 0, 8px)
  color      : mediumGray
  font-style : italic
  
h4
  hSize(16px, 0, 3px)

nav
  background : transparent
  float      : right

table
  dimensions(100%, auto)
  border-collapse : collapse


/* End Tags */

/* IDs & Classes */

#header
  dimensions(100%, 53px)
  border-bottom : 1px solid lightWhite
  background    : #171717
  margin        : 0 0 22px 0
  position      : fixed
  top           : 0
  left          : 0
  z-index       : 10
  
#navbar
  dimensions(auto, 49px)
  gradient(#606060, #383838)
  vendor('box-shadow', inset 0 1px 2px lightWhite)

#nav-ul
  dimensions(auto, 49px)

.nav-li
  @extend .gui-text-bold
  dimensions(63px, 49px)
  gradient(#606060, #3a3a3a)
  vendor('box-shadow', inset 0 1px 2px lightWhite)
  border-left : 1px solid #171717
  float       : right
  position    : relative
  
  &:hover
    gradient(lighten(#606060, 7%), lighten(#3a3a3a, 7%))
    
    a
      opaque(1)
    
  a
    opaque(.6)


#nav-snapshot  a { background-position : 15px -343px }
#nav-cluster   a { background-position : 16px 10px   }
#nav-ring      a { background-position : 15px -39px  }
#nav-objects   a { background-position : 14px -90px  }
#nav-mapreduce a { background-position : 14px -140px }
#nav-graphs    a { background-position : 14px -192px }
#nav-logs      a { background-position : 14px -248px }
#nav-support   a { background-position : 14px -300px }

.nav-item
  dimensions(63px, 49px)
  background  : url('/admin/ui/images/nav-icons.png') -100px 100px no-repeat transparent
  display        : block
  font-size      : 18px;
  vertical-align : middle
  
.indicator
  dimensions(63px, 4px)
  vendor('box-shadow', inset 0 1px 2px rgba(255, 255, 255, .4))
  display    : block
  background : offlight
  border-top : 1px solid #171717
  position   : absolute
  bottom     : 0
  left       : 0
    
.nav-li.active
  vendor('box-shadow', inset 0 0 18px rgba(0, 0, 0, .7))
  background : #363636
  
  a
    opaque(1)

  span
    vendor('box-shadow', 0 0 20px riakorange)
    gradient(lighten(riakorange, 33%), riakorange)

.nav-li .nav-item:hover
  cursor : pointer

#riak-control-logo
  dimensions(224px, 42px)
  display    : block
  background : url('/admin/ui/images/riak-control-logo.png') right bottom no-repeat transparent
  float      : left

#wrapper
  dimensions()
  background : transparent
  margin     : 75px 0 8px 0
  z-index    : 1

#content-well
  overflow      : hidden
  background    : transparent
  padding       : 5px 25px 0
  margin-bottom : 50px

#title-container, footer
  text-align : center

.side-line, .title-box
  vertical-align : top
  float          : left

.side-line
  dimensions(26%, 30px)
  border-bottom : 1px solid lightWhite
  
.title-box
  dimensions(48%, auto)
  padding       : 0 0 8px
  border-bottom : 1px solid lightWhite
  position      : relative

.vert-border
  dimensions(1px, 100%)
  display    : block
  background : lightWhite
  position   : absolute
  top        : 0

.vert-border-left
  @extend .vert-border
  left : 0

.vert-border-right
  @extend .vert-border
  right : 0

footer
  padding : 0 25px 0

  .title-box
    dimensions(16%, auto)
    border-bottom : none
    margin-bottom : 25px
    
  .side-line
    dimensions(42%, 25px)

#basho-logo
  display    : block
  background : transparent

/* Ende IDs & Classes */

/* CODE FOR DROPDOWNS */

.gui-dropdown-wrapper
  dimensions(auto, 30px)
  background : url('/admin/ui/images/dropdown-left.png') left top no-repeat transparent
  position   : relative
  max-width  : 250px

.gui-dropdown-wrapper.long
  dimensions(292px, auto)
  max-width : 1000px

.gui-dropdown-bg
  dimensions(auto, 22px)
  padding    : 8px 0 0 5px
  font-size  : 14px
  background : url('/admin/ui/images/dropdown-bg.png') left top repeat-x transparent
  margin     : 0 28px 0 10px

.gui-dropdown-cap
  dimensions(30px, 30px)
  absoluteRight(0, 0)
  background : url('/admin/ui/images/dropdown-right.png') right top no-repeat transparent

.gui-dropdown
  dimensions(100%, 30px)
  opaque(0)
  border     : 0
  outline    : none
  float      : left
  margin-top : -30px

/* END CODE FOR DROPDOWNS */

/* CODE FOR PAGINATION */
.pagination
  text-align : center
  font-size  : 12px
  cursor     : pointer
  margin-top : 25px
  
  li
    corners()
    display       : inline-block;
    background    : #1d1d1d
    padding       : 2px
    margin        : 0 1px 10px
    border-bottom : 1px solid lightWhite
    
  li.dots
    background     : none
    border         : 0
    letter-spacing : 1px
    padding        : 2px 4px

.pagination-bottom
  margin-bottom : 36px
  margin-top    : 25px

.paginator
  @extend .headline-font
  corners(3px)
  gradient(#616161, #434343)
  color      : #fff
  display    : block;
  border-top : 1px solid #777
  cursor     : pointer
  padding    : 3px 8px 4px

  &:hover
    gradient(#777, #434343)

  &:active
    background : #535353
    cursor     : pointer

.paginator.pageNumber
  opaque(.4)

.paginator.pageNumber:hover, .paginator.pageNumber:active, .pageNumber.active
  opaque(1)

.pagination li.disabled .paginator:hover, .pagination li.disapled .paginator:active, .pageNumber.active:hover, .pageNumber.active:active
  gradient(#616161, #434343)
  cursor : default

/* END CODE FOR PAGINATION*/


