
/*
CSS to be applied ONLY on the snapshot page
*/

@import reusable

#ring-page
  
  #ring-filter
    text-align   : left
    padding-left : 25px
    margin-top   : -5px
    float        : right

    .gui-dropdown-wrapper
      dimensions(100%, 30px)
      min-width : 169px

  h3
    color : lightGray

  #partition-list
    margin-top : 13px

  tr:hover
    background-color : highlight
    
  thead tr:hover, tr.no-highlight:hover
    background-color : transparent


  /* RESPONSIVE MEDIA QUERIES */

  @media screen and (max-width : 750px)

    #ring-filter
      absoluteLeft(50%, 100px)
      width        : 200px
      padding-left : 0
      float        : none
      margin       : 66px 0 0 -100px

    .pagination.first
      margin-top : 60px

  @media screen and (max-width : 649px)
      
    .gui-light span
      display : none

  @media screen and (max-width : 500px)

    #ring-filter
      margin-top : 40px

    .pagination.first
      margin-top : 30px

  /* END RESPONSIVE MEDIA QUERIES */
