
/*
CSS to be applied ONLY on the snapshot page
*/

@import reusable

#healthy-cluster, #unhealthy-cluster
  padding-top : 25px
  
  section
    padding-left : 336px
    
  h2
    padding-top : 20px
    
  h3
    margin-top : 30px
    
  ul
    margin : 10px 0 0 20px
  
  li
    monospace()
    line-height : 1.5
    
    a
      color : lightGray

#health-indicator
  dimensions(311px, 309px)
  float        : left
  margin-right : 25px
