
/*
CSS to be applied ONLY on the cluster page
*/

@import reusable

// line()
//   fill         : none
//   stroke       : riakred
//   stroke-width : 1.5px

#stats-page

  h2
    headline-font()
    font-size : 24px

  svg
    font  : 12px 'titillium'
  
  .line
    line()

  path.line-marker
    display : none !important

  text
    fill : mediumGray
   
  .axis path, .axis line
    fill            : none
    stroke          : lightWhite
    shape-rendering : crispEdges

    &.line
      line()

  .chart-container
    width : 50%
    float: left
    position: relative

    &.add-new
      css-transition(opacity .3s ease)
      margin-top : 74px
      opacity    : .5

      &[data-no-graphs="true"]
        float   : none
        margin  : 74px auto 35px
        opacity : 1

      &:hover
        css-transition(opacity .3s ease)
        opacity : 1

    .chart-wrapper
      corners()
      background : darkened
      padding    : 10px 0
      margin     : 10px 15px

      @media screen and (max-width: 850px)
        margin : 10px 0

    @media screen and (max-width: 850px)
      width : 75%
      float : none
      margin-left  : auto
      margin-right : auto

    @media screen and (max-width : 600px)
      width : 100%

  #stats-area
    margin : 0 auto
    width  : 960px

    @media screen and (max-width: 1075px)
      width : 100%

  #add-new-graph
    height     : 449px
    margin     : 25px 35px
    text-align : center
    border     : 1px dashed lightWhite

    .plus
      display    : block;
      font-size  : 82px;
      margin-top : 50px

    h3
      margin-top : 16px

    p
      margin      : 25px
      line-height : 1.4

  .changey, .add-node
    float        : right
    margin-top   : 25px
    margin-right : 15px

    a
      cursor : pointer

  .remove-graph
    dimensions(25px, 25px)
    css-transition(opacity .5s ease)
    display    : block
    background : url('/admin/ui/images/close-general.png') left top no-repeat transparent
    cursor     : pointer
    position   : absolute
    right      : 0
    top        : 0
    margin     : 40px 16px 0 0
    opacity    : .25

    &:hover
      css-transition(opacity .2s ease)
      opacity : .8

    @media screen and (max-width: 1075px)
      margin-top : 14px

  #graphs
    
    h2
      margin-top     : 25px
      margin-bottom  : 12px
      padding-bottom : 0
      // Floating this h2 causes the graph to perpetually
      // expand when the window is resized.
      //float          : left
      text-transform : capitalize
      margin-left    : 15px
      max-width      : 420px
      line-height    : 1em
      height         : 2em
      position       : relative

      span
        display  : block
        position : absolute
        bottom   : 0
        padding  : 0 0 8px 0

      @media screen and (max-width: 1075px)
        margin-right : 50px

      @media screen and (max-width: 600px)
        font-size   : 20px
        line-height : 1.2

  .node-tag
    corners()
    headline-font()
    font-weight : bold
    font-size   : 85%
    padding     : 5px 10px
    background  : riakred
    float       : left
    color       : #ffffff;
    text-shadow : none;
    margin      : 15px 5px 0 0

    .rm-node
      corners(50%)
      dimensions(15px, 15px)
      background  : rgba(0, 0, 0, .2);
      display     : inline-block
      margin-left : 10px
      cursor      : pointer
      text-align  : center
      &:hover
        background : rgba(0, 0, 0, .15);








