/* IMPORT FONTS */
@font-face {
    font-family: 'rokkitt';
    src: url('/admin/ui/fonts/rokkitt.eot?') format('eot'), url('/admin/ui/fonts/rokkitt.woff') format('woff'), url('/admin/ui/fonts/rokkitt.ttf') format('truetype');
}
@font-face {
    font-family: 'rokkitt';
    src: url('/admin/ui/fonts/rokkitt-bold.eot?') format('eot'), url('/admin/ui/fonts/rokkitt-bold.woff') format('woff'), url('/admin/ui/fonts/rokkitt-bold.ttf') format('truetype');
    font-weight: bold;
}



/* RESET PORTION FOR COMPATIBILITY */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-weight: normal;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
td {
    vertical-align: top;
}
/* END RESET PORTION */


/* CODE FOR GLOBAL STYLES */ 
html {
    background: url(/admin/ui/images/gui-bg.jpg) left top repeat #2d2d2d;
}

body {
    padding: 8px 0 0 0;
}

a {text-decoration: none;}

h1 {
    font-size: 48px;
    letter-spacing: 2px;
    display: block;
    padding-bottom: 25px;
}

h2 {
    font-size: 38px;
    letter-spacing: 2px;
    display: block;
    padding-bottom: 12px;
}

h3 {
    font-size: 22px;
    display: block;
    padding-bottom: 8px;
}
h3.no-pad {
    padding: 0;
}

h4 {
    font-size: 20px;
    padding-bottom: 0px;
    letter-spacing: 1px;
}


#tooltips {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: transparent;
    text-align: center;
}
#inner-tooltips {
    text-align: left;
    margin: 0 16px;;
    height: 50px;
    background: #1d1d1d;
    background: rgba(15, 15, 15, .8);
    border: 2px solid #444;
    border: 2px solid rgba(255, 255, 255, .25);
    -webkit-box-shadow: 0 0 15px #111; 
    -moz-box-shadow: 0 0 15px #111;
    box-shadow: 0 0 15px #111;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#display-tips {
    width: auto;
    height: 50px;
    background: ;
    padding: 0 12px;
    line-height: 1.3;
    vertical-align: middle;
    font-size: 13px;
    color: #999;
}


/* CODE FOR PRETTY TEXT */
.gui-text, .gui-text-bold {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: #dfdfdf;
    text-shadow: 0 2px 0 #000;
}
.gui-text-bold {
    font-weight: bold;
}
.gui-headline, .gui-headline-bold {
    font-family: 'rokkitt', arial, helvetica, sans-serif;
    color: #dfdfdf;
    text-shadow: 0 2px 0 #000;
}
.gui-headline-bold {
    font-family: 'rokkitt', arial, helvetica, sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 1.1px #ffffff;
    -moz-text-stroke: 1.1px #ffffff;
    text-stroke: 1.1px #ffffff;
}
/* END CODE FOR PRETTY TEXT */


/* HEADER PORTION */
#header {
    background: url(/admin/ui/images/header-bg.png) left top repeat-x transparent;
    height: 67px;
    width: auto;
    margin: 0 0 22px 0;
    position: relative;
}
#riak-control-logo {
    display: block;
    background: url(/admin/ui/images/riak-control-logo.gif) right bottom no-repeat transparent;
    width: 201px;
    height: 56px;
    float: left;
    padding: 5px 0 0 12px;
}
#basho-logo {
    background: url(/admin/ui/images/basho-logo.png) left top no-repeat transparent;
    width: 43px;
    height: 44px;
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
}
/* END HEADER PORTION */

#wrapper {
    background: transparent;
    width: auto;
    height: auto;
    margin-bottom: 8px;
}

#split-bar {
	width: 6px;
	background: url(/admin/ui/images/resizer-bg.png) left top repeat transparent;
	border: 1px solid #fff;
	float: left;
	opacity: .2;
	filter: alpha(opacity=20);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#split-bar:hover {
    cursor:pointer;
    opacity: .4;
	filter: alpha(opacity=40);
}

/* CODE FOR NAVIGATION */
#navigation {
    overflow: hidden;
    background: transparent;
    float: left;
    width: 218px; /* and 54 */
    position: relative;
}
#nav-box {
    width: 226px;
}
#active-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 48px;
    background: url(/admin/ui/images/active-nav.png) left top no-repeat transparent;
}

.nav-li {
    background: url(/admin/ui/images/nav-icons.png) 12px 10px no-repeat transparent;
    padding: 0 0 0 14px;
    height: 48px;
}
.nav-li:hover {
    background-color: #252525;
    background-color: rgba(0, 0, 0, .3);
}
.nav-li-disabled {
    background: url(/admin/ui/images/nav-icons.png) 12px 10px no-repeat transparent;
    padding: 0 0 0 14px;
    height: 48px;
    opacity: .3;
    filter: alpha(opacity=30);
}
#nav-snapshot  {background-position:14px -344px;}
#nav-cluster   {background-position:14px 10px;}
#nav-ring      {background-position:14px -39px;}
#nav-objects   {background-position:14px -90px;}
#nav-mapreduce {background-position:14px -140px;}
#nav-graphs    {background-position:14px -192px;}
#nav-logs      {background-position:14px -248px;}
#nav-support   {background-position:14px -300px;}
.nav-item {
    display: block;
    font-size: 18px;
    height: 33px;
    vertical-align: middle;
    background: url(/admin/ui/images/cut-bg.png) left bottom repeat-x transparent;
    padding: 15px 0 0 40px;
}
.nav-li .nav-item:hover {
    cursor: pointer;
}
/* END CODE FOR NAVIGATION */

/* END CODE FOR GLOBAL STYLES */



/* CODE FOR GENERAL CONTENT WELL */
#content-well {
    overflow: hidden;
    background: transparent;
    padding: 5px 14px 0 25px;
}

#total-number {
    font-size: 14px;
    font-weight: normal;
    font-family: arial, helvetica, sans-serif;
    letter-spacing: normal;
    -webkit-text-stroke: none;
}

/* CODE FOR DROPDOWNS */
.gui-dropdown-wrapper {
    height: 30px;
    background: url(/admin/ui/images/dropdown-left.png) left top no-repeat transparent;
    position: relative;
}
.gui-dropdown-bg {
    padding-top: 8px;
    padding-left: 5px;
    height: 22px;
    font-size: 14px;
    width: auto;
    background: url(/admin/ui/images/dropdown-bg.png) left top repeat-x transparent;
    margin-left: 10px;
    margin-right: 28px;
}
.gui-dropdown-cap {
    height: 30px;
    width: 30px;
    background: url(/admin/ui/images/dropdown-right.png) right top no-repeat transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.gui-dropdown {
    border: 0;
    height: 30px;
    opacity: 0;
    filter: alpha(opacity=0);
    outline: none;
    float: left;
    margin-top: -30px;
}
/* END CODE FOR DROPDOWNS */

/* CODE FOR CHECKBOXES */
.gui-checkbox-wrapper {
    height: 20px;
    background: url(/admin/ui/images/checkbox-sprite.png) left top no-repeat transparent;
    vertical-align: middle;
    display: inline-block;
}
.gui-checkbox {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    opacity: 0;
    margin: 0;
    filter: alpha(opacity=0);
}
.gui-checkbox-wrapper .gui-text {
    display: block;
    height: 20px;
    float: left;
    padding-left: 5px;
    font-size: 15px;
}
/* END CODE FOR CHECKBOXES */

/* CODE FOR TEXT FIELDS */
.gui-field {
    width: auto;
    height: 30px;
    position: relative;
}
.gui-field-cap-left, .gui-field-cap-right {
    width: 9px; 
    height: 30px;
    position: absolute;
    top: 0;
    background: left top no-repeat transparent;
}
.gui-field-cap-left  {
    background-image: url(/admin/ui/images/fieldcap-left.png);
    left: 0;
}
.gui-field-cap-right {
    background-image: url(/admin/ui/images/fieldcap-right.png);
    right: 0;
}
.gui-field-bg {
    width: auto;
    height: 30px;
    background: url(/admin/ui/images/field-bg.png) left top repeat-x transparent;
    margin: 0 9px;
}
.gui-field-input {
    display: block;
    width: 99%;
    padding: 0 2px;
    background: transparent;
    border: 0;
    height: 30px;
    outline: none;
    font-family: menlo, monospace;
}
/* END CODE FOR TEXT FIELDS */

/* CODE FOR POINT BUTTONS */
.gui-point-button, .gui-rect-button {
    display: block;
    width: 137px;
    height: 40px;
    cursor: pointer;
    border: 0;
    margin-top: 3px;
}
.gui-point-button {background: url(/admin/ui/images/pointbutton-sprite.png) left top no-repeat transparent;}
.gui-rect-button  {background: url(/admin/ui/images/rectbutton-sprite.png)  left top no-repeat transparent;}

.gui-button-msg {
    display: block;
    width: auto;
    height: auto;
    padding-top: 7px;
    text-align: center;
}
.gui-point-button:hover,  .gui-rect-button:hover {background-position: left -40px;}

.gui-point-button:active, .gui-point-button.pressed,
.gui-rect-button:active,  .gui-rect-button.pressed {background-position: left -80px !important;}

.gui-point-button:active  .gui-button-msg, 
.gui-point-button.pressed .gui-button-msg,
.gui-rect-button:active   .gui-button-msg, 
.gui-rect-button.pressed  .gui-button-msg {padding-top: 9px;}

input.gui-point-button, input.gui-rect-button {padding-bottom: 12px;}
input.gui-point-button:active, input.gui-rect-button:active {padding-bottom: 9px;}

.button-column {width: 150px;}
/* END CODE FOR POINT BUTTONS */

/* CODE FOR SHUTDOWN BUTTON */
.shutdown-box, .leave-cluster-box, .markdown-box {
    height: 53px;
    padding-right: 20px;
    border-right: 1px solid #000;
}
.leave-cluster-box, .markdown-box {
    padding-left: 15px;
    border-left: 1px solid #333;
}
.markdown-box {
    border-right: none;
}
.shutdown-label, .leave-cluster-label, .markdown-label {
    padding: 18px 0 0 10px;
}
.shutdown-button, .leave-cluster-button, .markdown-button {
    display: block;
    width: 51px;
    height: 53px;
    cursor: pointer;
}
.shutdown-button {background: url(/admin/ui/images/powerbutton-sprite.png) left top no-repeat transparent;}
.leave-cluster-button {background: url(/admin/ui/images/leavecluster-sprite.png) left top no-repeat transparent;}
.markdown-button {background: url(/admin/ui/images/markdown-sprite.png) left top no-repeat transparent;}
.shutdown-button:active, .leave-cluster-button:active, .markdown-button:active   {background-position: left -53px;}
.shutdown-button.pressed, .leave-cluster-button.pressed, .markdown-button.pressed {
    background-position: left -106px;
    cursor: default;
}
/* END CODE FOR SHUTDOWN BUTTON*/

/* CODE FOR LIGHTS */
.gui-light {
    display: block;
    width: auto;
    height: 26px;
    padding: 10px 0 0 30px;
    background: url(/admin/ui/images/light-sprite.png) -5px bottom no-repeat transparent;
}
.gui-light.green  {background-position: -5px top;}
.gui-light.red    {background-position: -5px -36px;}
.gui-light.orange {background-position: -5px -72px;}
.gui-light.blue   {background-position: -5px -108px;}
/* END CODE FOR LIGHTS */

/* CODE FOR SLIDING SWITCHES */
.gui-slider, .gui-slider-leaving {
    background: url(/admin/ui/images/slider-groove.png) 4px 2px no-repeat transparent;
    height: 36px;
    width: 150px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 3px;
}
.gui-slider-leaving {
    background: url(/admin/ui/images/leaving-slider.png) 4px 2px no-repeat transparent;
}
.gui-slider-leaving.down {
    background-position: 4px -34px;
}

.gui-slider-groove.ui-slider {
    background: transparent;
    width: 117px;
    height: 36px;
    position: relative;
}
.gui-slider-msg {
    height: auto;
    width: 104px;;
    position: absolute;
    top: 2px;
    left: 36px;
    padding: 6px 0 8px;
}
.gui-slider-msg.isLeft {display: block; left: 43px;}
.gui-slider-msg.isRight {display: none; left: 18px;}
.gui-slider .ui-slider-handle {
    background: url(/admin/ui/images/slider-handle.png) left top no-repeat transparent;
    height: 36px;
    width: 36px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    cursor: pointer;
}
.gui-slider-activate {
    position: absolute;
    top: 0;
    right: 0;
    background:transparent;
    width: 34px;
    height: 32px;
}
/* END CODE FOR SLIDING SWITCHES */


.table-head td {
    padding-top: 8px;
    border-bottom: 8px solid transparent;
}
.list-table {
    margin-bottom: 8px;
}
.list-table td {
    vertical-align: middle;
}

.spinner-box {
    text-align: center;
    padding: 25px 50px 50px;
}

ul.bulleted {
    list-style-type: disc;
    padding-left: 20px;
}
ul.bulleted li {
    padding: 3px 0;
    line-height: 1.2;
}


/* END CODE FOR GENERAL CONTENT WELL */


/* CODE FOR SNAPSHOT CONTENT */
#healthy-cluster {
    text-align: left;
    background: url(/admin/ui/images/healthy-cluster.png) left top no-repeat transparent;
    padding: 45px 0 175px 343px;
}
#unhealthy-cluster {
    text-align: left;
    background: url(/admin/ui/images/unhealthy-cluster.png) left top no-repeat transparent;
    padding: 45px 0 200px 343px;
}

#unreachable-nodes-list, #down-nodes-list {
    margin-bottom: 25px;
}

.go-to-cluster {
    cursor: pointer;
}
.go-to-cluster:hover {
    text-decoration: underline;
}
/* END CODE FOR SNAPSHOT CONTENT*/


/* CODE FOR CLUSTER CONTENT */
#add-node-box {padding-top: 3px;}
#add-node {
    width: auto;
    height: 100px;
    position: relative;
}

#cluster-table .node td {
    padding: 2px 15px 2px 0;
    height: 52px;
}

#cluster-table .node td.name-box {
    padding-right: 15px;
}

#cluster-table .node td.status-box {
    padding-right: 15px;
    width: 90px;
}

#cluster-table .node td.ring_pct-box {
   width: 100px;
}

#cluster-table .node td.memory-box {
    width: 185px;
    padding-right: 0;
}


#cluster-table .node td.pct-light-box {
    width: 25px;
    padding-right: 0;
    padding-left: 3px;
}

.name, .ring_pct, .pending_pct {
    padding: 8px 2px;
    height: 22px;
    width: auto;
}

.status {
    font-size: 15px;
}

.statistics, .more-actions-slider-box {
    width: 137px;
}

#cluster-table .node .active {
    background:#fe9925;
    font-color:#000;
}

#cluster-table .node:hover {
    background: url(/admin/ui/images/node-bg.png) left top repeat transparent;
    background: rgba(255,255,255,.1);
}

#node-error {
    height: 16px;
    position: absolute;
    top: 68px;
    left: 0;
    font-size: 13px;
}
#node-error .error-text {letter-spacing: 1px;}
#node-error .error-link {font-size: 13px;}

.close-error {
    background: url(/admin/ui/images/close-error.png) left top no-repeat transparent;
    padding: 0 10px;
    opacity: .4;
    filter: alpha(opacity=40);
    cursor: pointer;
}
.close-error:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}

.current-host {
    padding: 7px 0 0 5px;
    text-align: center;
    font-size: 14px;
}

#cluster-table .more-node-actions td {
    padding: 0;
    height: 0;
    line-height: 0;
}

.actions-pointer {
    background: url(/admin/ui/images/area-pointer.png) 36px top no-repeat transparent;
    height: 9px;
    line-height: 1;
}

.actions-box {
    line-height: 1;
    background: #111;
    background: rgba(36, 36, 36, 1);
    padding: 15px 15px 10px;
    margin-bottom: 15px;
    float: left;
    border-bottom: 1px solid #3f3f3f;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    -webkit-box-shadow: inset 0 3px 10px #0f0f0f;
    -webkit-border-radius: 4px;
    -moz-box-shadow: inset 0 3px 10px #0f0f0f;
    -moz-border-radius: 4px;
    box-shadow: inset 0 3px 10px #0f0f0f;
    border-radius: 4px;

}

.leave-cluster {
    cursor: pointer;
}
.leave-cluster:hover {
    text-decoration: underline;
}

.pct-box {
    margin-top: 1px;
    width: 65px;
}

.pct-arrows {
    background: url(/admin/ui/images/pct-arrows-sprite.png) no-repeat transparent;
    height: 33px;
    width: 19px;
    margin: 0 5px 0 0;
}
.pct-gaining {
    background-position:-19px top;
}
.pct-losing {
    background-position:-38px top;
}
.pct-static {
    background-position:left top;
}

.green-pct-arrow {
    background: url(/admin/ui/images/pct-arrows-sprite.png) no-repeat -57px top transparent;
    height: 33px;
    width: 19px;
    margin: 0 5px 0 0;
    display: none;
}

.membar-bg {
    width: 97px;
    height: 23px;
    padding: 0px 3px 0 2px;
    position: relative;
    overflow: hidden;
    margin-top: 4px;
    overflow: hidden;
}
.membar-fg {
    background: url(/admin/ui/images/membar-fg.png) left top no-repeat transparent;
    width: 101px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
}
.mem-color {
    height: 21px;
    background: url(/admin/ui/images/mem-bar-overlay.png) left top repeat transparent;
}
.erlang-mem {
    background-color: #6cfff5;
    -webkit-box-shadow: 0 2px 100px /*#6cfff5*/ rgba(108, 255, 245, .2);
}
.non-erlang-mem {
    background-color: #0da5e4; 
    -webkit-box-shadow: 0 2px 5px /*#0da5e4*/ rgba(13, 165, 228, .2);
}
.free-memory {
    display: block;
    padding-top: 7px;
    padding-left: 8px;
}
.unknown-mem {
    background: #666;
    display: none;
    width: 100%;
    position: relative;
    height: 21px;
    top: 0;
    left: 0;
}

.pagination {
    text-align: center;
    font-size: 12px;
}
.pagination-bottom {
    margin-bottom: 36px;
}

.pagination li {
    display: inline-block;
    background: #1d1d1d;
    padding: 2px;
    margin: 0 2px 10px;
    border-bottom: 1px solid #434343;
    border-bottom: 1px solid rgba(255, 255, 255, .18);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.pagination li.dots {
    background: none;
    border: 0;
    letter-spacing: 1px;
    padding: 2px 4px;
}

.paginator {
    display: block;
    background: #434343;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#616161), to(#434343));
    background: -moz-linear-gradient(100% 100% 90deg, #434343, #616161);
    border-top: 1px solid #777;
    cursor: pointer;
    padding: 3px 8px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.paginator:hover {
    background: #535353;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#434343));
    background: -moz-linear-gradient(100% 100% 90deg, #434343, #777);
}
.paginator:active {
    background: #535353;
    cursor: pointer;
}
.paginator.pageNumber {
    opacity: .4;
    filter: alpha(opacity=40);
}
.paginator.pageNumber:hover, .paginator.pageNumber:active, .pageNumber.active {
    opacity: 1;
    filter: alpha(opacity=100);
}
.pagination li.disabled .paginator:hover,
.pagination li.disapled .paginator:active,
.pageNumber.active:hover, 
.pageNumber.active:active {
    background: #434343;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#616161), to(#434343));
    background: -moz-linear-gradient(100% 100% 90deg, #434343, #616161);
    cursor: default;
}

/* END CODE FOR CLUSTER CONTENT */


/* CODE FOR RING CONTENT */
#ring-filter {
    padding-top: 0px;
}

#partition-list {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#ring-table {
    /*margin-bottom: 75px;*/
}

#ring-table .partition td {
    padding: 2px 2px 0;
    height: 45px;
}

#ring-table .partition td.owner-box {
    padding-right: 15px;
}

#ring-table .partition td.partition-number {
    width: 20px;
    padding: 2px 5px 2px 7px;
}

#ring-table .partition:hover {
    background: url(/admin/ui/images/node-bg.png) left top repeat transparent;
    background: rgba(255,255,255,.1);
}

.owner {
    padding: 8px 2px;
    height: 22px;
}

.kv-box, .pipe-box, .search-box {
    width: 100px;
}

#ring-table div {
    cursor:pointer;
    cursor:hand;
}

#ring-table div td {

}

#ring-table div .active {
    background:#fe9925;
    font-color:#000;
}

#no-matches td {
    padding-top: 12px;
}


/* END CODE FOR RING CONTENT*/





/* CASCADING STYLES */
.left      {float: left;}
.right     {float: right;}
.clear     {clear: both;}
.clearl    {clear: left;}
.clearr    {clear: right;}
.block     {display: block;}
.i-block   {display: inline-block;}
.inline    {display: inline;}
.inblock   {display: inline-block;}
.cut       {height: 2px; background: url(/admin/ui/images/cut-bg.png) left bottom repeat-x transparent;}
.has-cut   {background: url(/admin/ui/images/cut-bg.png) left bottom repeat-x transparent;}
.hide      {display: none;}
.monospace {font-family: menlo, monospace;}
.bold      {font-weight: bold;}
.emphasize {font-size: 110%;}
.smaller   {font-size: 90%;}
.relative  {position: relative;}
.gray-text {color: #666;}

.vertical-padding-small {padding: 10px 0;}

.blue-link:hover {color: #9edad6; cursor: pointer;}
.underline:hover {text-decoration: underline;}

.disabled, .down {opacity: .5; filter: alpha(opacity=50);}
.offline, .unreachable  {color: #e85252;}