<section class="details">
  <div class="actions-pointer"></div>
  <h4 class="gui-headline-bold">
    Preference lists where all primary repliacs are unavailable.
  </h4>
  {{controller.allUnavailableCount}} partitions have all of their
  primary replicas located on down or unreachable nodes.  It is
  recommended that you work to restore service to the unreachable nodes.
</section>


