<div id="all-unavailable"></div>
<span class="gui-text-flat italic">
  <strong>{{view.normalizedUnavailable}}%</strong>
  of partitions have all primary replicas offline.
</span>
<a class="gui-rect-button gui-text-bold">
  <span class="gui-button-msg">DETAILS</span>
</a>
