{{#with view}}
<div class="node">
  <div class="item-1">
    <div {{bindAttr class="view.indicatorLights"}}></div>
    <span class="monospace">{{ name }}</span>
  </div>
  <span class="item-2 monospace">{{ status }}</span>
</div>
{{/with}}
