<div id="cluster-page">

    <section id="title-container">
      <div class="side-line"></div>
      <div class="title-box">
        <span class="vert-border-left"></span>
        <h1 id="cluster-headline" class="gui-headline-bold page-title">Cluster Management</h1>
        <span class="vert-border-right"></span>
      </div>
      <div class="side-line"></div>
      <div class="clear"></div>
    </section>

    <div id="add-node">
        <h2 class="gui-headline">Join Nodes</h2>
        <span class="gui-text-flat italic">Type a node name or list of names separated by commas.</span>
        <table class="add-node-table">
            <tr class="no-highlight">
                <td id="add-node-box">
                    <input id="node-to-add" class="gui-input gui-text" type="text" name="nodeName" />
                </td>
                <td class="button-column">
                    <a id="add-node-button" class="gui-point-button gui-text-bold right">
                        <span class="gui-button-msg">ADD NODES</span>
                    </a>
                </td>
            </tr>
        </table>
        <div id="node-error" class="hide">
            <a class="close-error gui-text"></a>
            <a class="error-text offline"></a>
            <a class="error-link gui-text underline" href="#"></a>
        </div>
    </div><!-- #add-node -->


    <div id="current-area">
        <h2 class="gui-headline">
            Current Cluster
            <span id="total-number" class="gui-text-flat italic"></span><br/>
        </h2>
        <section id="node-list">
            <ul class="list-header">
                <li class="item1"><h4 class="gui-headline-bold">Actions</h4></li>
                <li class="item2"><h4 class="gui-headline-bold">Name &amp; Status</h4></li>
                <li class="item3"><h4 class="gui-headline-bold">Partitions</h4></li>
                <li class="item4"><h4 class="gui-headline-bold">RAM Usage</h4></li>
            </ul>
            <div class="clear"></div>
            <div class="node">
                <div class="item1 toggle-container">
                    <div class="actions-toggle gui-field">
                        <a class="slider"></a>
                    </div>
                </div>
                <div class="item2 name-box gui-text">
                    <a class="gui-light status-light inline-block">
                    </a><div class="gui-text field-container inline-block">
                        <div class="name gui-field">dev1@127.0.0.1</div>
                    </div>
                </div>
                <div class="item3 gui-text ring-pct-box">
                    <div class="left pct-arrows pct-static">
                        <div class="green-pct-arrow"></div>
                    </div>
                    <div class="left gui-text pct-box">
                        <span class="ring-pct">25%</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="item4 gui-text memory-box">
                    <div class="membar-bg">
                        <div class="mem-colors">
                            <div class="erlang-mem mem-color" name=""></div>
                            <div class="non-erlang-mem mem-color" name=""></div>
                            <div class="unknown-mem"></div>
                        </div>
                        <div class="membar-fg"></div>
                    </div>
                    <span class="used-memory">43%</span>
                </div>
                <div class="clear"></div>
            </div><!-- .node -->
            <div class="actions-container">
                <div class="actions-pointer"></div>
                <div class="actions-box">
                    <span class="gui-text-flat serif">Use these actions to prepare this node to leave the cluster.</span>
                    <div class="replacement-controls">
                        <div class="gui-dropdown-wrapper replacement-node-dropdown">
                            <div class="gui-dropdown-bg gui-text">Replacement Node</div>
                            <div class="gui-dropdown-cap left"></div>
                            <select class="gui-dropdown">
                                <option value="">All</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                        <div class="gui-checkbox-wrapper">
                            <input class="gui-checkbox" type="checkbox" value="forceleave" />
                            <span>Force Leave</span>
                        </div>
                        
                        <div class="gui-checkbox-wrapper">
                            <input class="gui-checkbox" type="checkbox" value="forcereplace" />
                            <span>Force Replace</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <a class="stage-button gui-point-button-right gui-text-bold right">
                        <span class="gui-button-msg">STAGE LEAVE</span>
                    </a>
                </div>
            </div><!-- .actions-box -->
        </section>
        <div class="spinner-box">
            <img id="cluster-spinner" class="spinner" src="/admin/ui/images/spinner.gif">
        </div>
    </div>


    <div id="area-separator">
        <div class="vert-line"></div>
    </div>


    <div id="planned-area">
        <h2 class="gui-headline">
            Cluster Plan
            <span class="gui-text-flat italic">(Your new cluster after convergence.)</span>
        </h2>
        <section id="planned-list" class="">
            <ul class="list-header">
                <li class="item1"><h4 class="gui-headline-bold">Name &amp; Status</h4></li>
                <li class="item2"><h4 class="gui-headline-bold">Partitions</h4></li>
                <li class="item3"><h4 class="gui-headline-bold">Action</h4></li>
                <li class="item4"><h4 class="gui-headline-bold">Replacing</h4></li>
            </ul>
            <div class="clear"></div>
            <div class="node">
                <div class="item1 name-box gui-text">
                    <a class="gui-light status-light inline-block">
                    </a><div class="gui-text field-container inline-block">
                        <div class="name gui-field">dev1@127.0.0.1</div>
                    </div>
                </div>
                <div class="item2 gui-text ring-pct-box">
                    <div class="left pct-arrows pct-static">
                        <div class="green-pct-arrow"></div>
                    </div>
                    <div class="left gui-text pct-box">
                        <span class="ring-pct">25%</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="item3 action-taken gui-text">
                    <span class="action-name">Join</span>
                </div>
                <div class="item4 replacing-box">
                    <div class="gui-text field-container inline-block">
                        <div class="name gui-field">dev1@127.0.0.1</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>


        <h4 class="plan-details-header gui-headline-bold">Plan Details</h4>
        <p class="plan-details">
            More details about the convergence plan will go here.
            Lorem ipsum dolor sit amet consecteteur adipiscing
            elit.  Caronius mun liltium norvis.
        </p>
        <div class="accept-plan">
            <div class="gui-checkbox-wrapper">
                <span>This plan is correct.</span>
                <input class="gui-checkbox" type="checkbox" name="cluster-plan" value="accept"/>
            </div>
            <a id="commit-button" class="gui-point-button-right gui-text-bold right">
                <span class="gui-button-msg">COMMIT</span>
            </a>
        </div>
    </div>

    <div class="clear"></div>
    
</div>
