<div id="degenerate"></div>
<span class="gui-text-flat italic">
  <strong>{{view.normalizedDegenerate}}%</strong>
  of partitions have replicas that do not live on unique nodes.
</span>
<a {{action showDegeneratePreflists href=true}} class="gui-rect-button gui-text-bold">
  <span class="gui-button-msg">DETAILS</span>
</a>
