<div id="degenerate"></div>
<span class="gui-text-flat italic">
  <strong>{{view.normalizedAbnormal}}%</strong>
  of partitions have primary replicas that do not live on a unique set
  of nodes.
</span>
<div>
  <a class="gui-rect-button gui-text-bold details-button">
    <span class="gui-button-msg">DETAILS</span>
  </a>
  <section class="details">
    <div class="actions-pointer actions-pointer-left"></div>
    <h4 class="gui-headline-bold">
      Preference lists which do not contain replicas on distinct nodes.
    </h4>
    {{#if degeneratesExist}}
    {{degenerateCount}} partitions have multiple replicas
    located on the same node.  It is highly recommended that you <a
    href="http://docs.basho.com/riak/latest/cookbooks/Adding-and-Removing-Nodes/">add
    nodes</a> to resolve this and ensure the high availability and fault
  tolerance of your data.
    {{else}}
    All partitions have replicas on distinct nodes.  There is nothing to
    worry about.
    {{/if}}
  </section>
</div>
