{{#if controller.length}}
  <div id="handoffs">
    <ul>
      <li class="item-1">
        <h4 class="gui-headline-bold">Index</h4>
      </li><li class="item-2">
        <h4 class="gui-headline-bold">Current Owner</h4>
      </li><li class="item-3">
        <h4 class="gui-headline-bold">Next Owner</h4>
      </li><li class="item-4">
        <h4 class="gui-headline-bold">Waiting For</h4>
      </li>
    </ul>

    {{collection RiakControl.HandoffsCollectionView contentBinding="controller.content"}}
  </div>
{{else}}
  <h4 class="gui-headline-bold" id="no-details">No handoffs in progress.</h4>
{{/if}}
