<div id="loading-page">

  <section id="title-container">
    <div class="side-line"></div>
    <div class="title-box">
      <span class="vert-border-left"></span>
      <h1 id="node-headline" class="gui-headline-bold page-title">...</h1>
      <span class="vert-border-right"></span>
    </div>
    <div class="side-line"></div>
    <div class="clear"></div>
  </section>

  <div class="spinner-box loading-route">
      <img id="cluster-spinner" class="spinner" src="/admin/ui/images/spinner.gif">
      <h4 class="gui-headline-bold">Loading...</h4>
  </div>

</div>