<div id="ring-filter" class="right">
    <div class="gui-dropdown-wrapper">
        <div class="gui-dropdown-bg gui-text">Filter by...</div>
        <div class="gui-dropdown-cap left"></div>
        {{view RiakControl.PartitionFilterSelectView id="filter" classNames="gui-dropdown" contentBinding="filters" optionLabelPath="content.name" optionValuePath="content.value" prompt="All" selectionBinding="controller.selectedPartitionFilter"}}
    </div>
</div>
