<section class="details">
  <div class="actions-pointer"></div>
  <h4 class="gui-headline-bold">
    Preference lists where a majority of primary repliacs are unavailable.
  </h4>
  {{controller.quorumUnavailableCount}} partitions have a majority
  of their replicas located on down or unreachable nodes.  It is
  recommended that you work to restore service to the unreachable nodes.
</section>

