<div id="quorum-unavailable"></div>
<span class="gui-text-flat italic">
  <strong>{{view.normalizedAbnormal}}%</strong>
  of partitions have a majority of primary replicas down or unreachable
  nodes.
</span>
<div>
  <a class="gui-rect-button gui-text-bold details-button">
    <span class="gui-button-msg">DETAILS</span>
  </a>
  <section class="details">
    <div class="actions-pointer actions-pointer-center"></div>
    <h4 class="gui-headline-bold">
      Preference lists where a majority of primary repliacs are unavailable.
    </h4>
    {{#if quorumUnavailableExist}}
    {{quorumUnavailableCount}} partitions have a majority
    of their replicas located on down or unreachable nodes.  It is
    recommended that you work to restore service to the unreachable nodes.
    {{else}}
    No partitions have a majority of their replicas located on down or
    unreachable nodes. There is nothing to worry about.
    {{/if}}
  </section>
</div>
