<div id="ring-page">

  <section id="title-container">
    <div class="side-line"></div>
    <div class="title-box">
      <span class="vert-border-left"></span>
      <h1 id="ring-headline" class="gui-headline-bold page-title">Ring Status</h1>
      <span class="vert-border-right"></span>
    </div>
    <div class="side-line"></div>
    <div class="clear"></div>
  </section>

  <section id="partition-container">
    {{collection RiakControl.PartitionsView contentBinding="content"}}
    <div class="clear"></div>
  </section>
</div>
