    <section id="summary-info">
      <div class="item-1">
        <h4 class="gui-headline-bold">Claimant Name &amp; Status</h4>
        <div class="gui-light status-light inline-block green">
        </div><div class="gui-text field-container inline-block">
          <div class="name gui-field">{{ claimant }}</div>
        </div>
      </div>

      <div class="item-2">
        <h4 class="gui-headline-bold">Ring Ready</h4>
        <div class="ring-light inline-block green">
        </div><div class="gui-text field-container inline-block">
          <div class="name gui-field">{{ ringReady }}</div>
        </div>
      </div>

      <div class="item-3">
        <h4 class="gui-headline-bold">Current Handoffs</h4>
        <div class="gui-light status-light inline-block orange">
        </div><div class="gui-text field-container inline-block">
          <div class="name gui-field">{{ currentHandoffs }}</div>
        </div>
      </div>

      <div class="clear"></div>
    </section>
