<div id="ring-page">

  <section id="title-container">
    <div class="side-line"></div>
    <div class="title-box">
      <span class="vert-border-left"></span>
      <h1 id="ring-headline" class="gui-headline-bold page-title">Ring Status</h1>
      <span class="vert-border-right"></span>
    </div>
    <div class="side-line"></div>
    <div class="clear"></div>
  </section>

  <div id="current-ring">
    <h2 class="gui-headline">Current Ring</h2>
    <span class="gui-text-flat italic">
      Overview of the hash-space and availability of data stored in the cluster.
      Each square represents one partition in the cluster.
    </span><br/>

    <section id="legend">
      <h4 class="gui-headline-bold">Legend</h4>
      <div class="partition red"></div>
      <span class="legend-label gui-text">All available replicas are fallbacks.</span><br/>
      <div class="partition orange"></div>
      <span class="legend-label gui-text">Majority of available replicas are fallbacks.</span><br/>
      <div class="partition blue"></div>
      <span class="legend-label gui-text">Not all replicas are on distinct nodes.</span><br/>

      <span class="footnote gui-text">
        <strong>*</strong> If the square is pulsing, it means this partition is at risk for that state.
      </span>
      </section>


    <section id="partition-container">
      <h4 class="gui-headline-bold partition-header">Partitions</h4>
      {{collection RiakControl.PartitionsView contentBinding="content"}}
      <div class="clear"></div>
    </section>

    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
