<div id="ring-page">

  <section id="title-container">
    <div class="side-line"></div>
    <div class="title-box">
      <span class="vert-border-left"></span>
      <h1 id="ring-headline" class="gui-headline-bold page-title">Ring Status</h1>
      <span class="vert-border-right"></span>
    </div>
    <div class="side-line"></div>
    <div class="clear"></div>
  </section>

  <div id="current-ring">
    <h2 class="gui-headline">Current Ring</h2>
    <span class="gui-text-flat italic">Here lies the ring.</span><br/>
    <section id="partition-container">
      {{collection RiakControl.PartitionsView contentBinding="content"}}
      <div class="clear"></div>
    </section>
  </div>
  <div class="clear"></div>
</div>
