
<div id="stats-page">
  
  <section id="title-container">
    <div class="side-line"></div>
    <div class="title-box">
      <span class="vert-border-left"></span>
      <h1 id="stats-headline" class="gui-headline-bold page-title">Stats</h1>
      <span class="vert-border-right"></span>
    </div>
    <div class="side-line"></div>
    <div class="clear"></div>
  </section>
  <div class="relative health-info">
   <table>
 <tr> <td> this is a test</td><td> </td> </tr>
   </table>

  </div>
  
</div>
