{{#if controller.filteredContent.length}}
  <div id="nodes">
    <ul>
      <li class="item-1"><h4 class="gui-headline-bold">Node Name</h4></li>
      <li class="item-2"><h4 class="gui-headline-bold">Status</h4></li>
    </ul>

    {{collection RiakControl.UnreachableNodesCollectionView contentBinding="controller.filteredContent"}}
  </div>
{{else}}
  <h4 class="gui-headline-bold" id="no-details">All nodes are currently reachable.</h4>
{{/if}}
