/* 
@font-face styles
*/
@font-face {
  font-family: 'rokkitt';
  src: url("/admin/ui/fonts/rokkitt.eot");
  src: url("/admin/ui/fonts/rokkitt.eot?#iefix") format('embedded-opentype'), url("/admin/ui/fonts/rokkitt.woff") format('woff'), url("/admin/ui/fonts/rokkitt.ttf") format('truetype'), url("/admin/ui/fonts/rokkitt.svg#rokkitt") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rokkitt';
  src: url("/admin/ui/fonts/rokkitt-bold.eot");
  src: url("/admin/ui/fonts/rokkitt-bold.eot?#iefix") format('embedded-opentype'), url("/admin/ui/fonts/rokkitt-bold.woff") format('woff'), url("/admin/ui/fonts/rokkitt-bold.ttf") format('truetype'), url("/admin/ui/fonts/rokkitt-bold.svg#rokkittbold") format('svg');
  font-weight: bold;
  font-style: normal;
}
