/* 
Styles to be applied generally across the UI
*/
/* Variables */
/* End Variables */
/* Functions */
/* End Functions */
/* Extensible Classes */
.headline-font,
.headline-bold,
.gui-headline,
.gui-headline-bold,
.gui-headline-bold {
  font-family: 'titillium', helvetica, arial, sans-serif;
}
.copy-font,
.copy-bold,
.gui-text,
.gui-text-bold,
.gui-text-bold,
.nav-li,
.nav-li {
  font-family: 'noticia', georgia, serif;
}
.copy-bold,
.gui-text-bold,
.nav-li {
  font-weight: bold;
}
.headline-bold,
.gui-headline-bold {
  font-weight: bold;
}
.gui-text,
.gui-text-bold,
.nav-li {
  text-shadow: 0 2px 0 #000;
  color: #dfdfdf;
  font-size: 14px;
}
.gui-headline,
.gui-headline-bold {
  text-shadow: 0 2px 0 #000;
  color: #dfdfdf;
  text-shadow: 0 2px 0 #000;
}
.gui-headline-bold {
  -webkit-text-stroke: 1.1px #fff;
  -moz-text-stroke: 1.1px #fff;
  text-stroke: 1.1px #fff;
  font-weight: bold;
}
/* End Extensible Classes */
/* Tags */
html {
  background: url("/admin/ui/images/gui-bg.jpg") left top repeat #2d2d2d;
}
body {
  padding: 0;
}
a {
  text-decoration: none;
}
a:visited {
  color: #dfdfdf;
}
h1,
h2,
h3 {
  display: block;
}
h1 {
  font-size: 48px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
h2 {
  font-size: 38px;
  letter-spacing: 1px;
  padding-bottom: 12px;
}
h3 {
  font-size: 24px;
  letter-spacing: 1px;
  padding-bottom: 8px;
}
nav {
  background: transparent;
  float: right;
}
/* End Tags */
/* IDs & Classes */
#header {
  width: auto;
  height: 53px;
  border-bottom: 1px solid rgba(255,255,255,0.18);
  background: #171717;
  margin: 0 0 22px 0;
  position: relative;
}
#navbar {
  width: auto;
  height: 49px;
  background: #383838;
  background: -moz-linear-gradient(top, #606060 0%, #383838 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(100%, #383838));
  background: -webkit-linear-gradient(top, #606060 0%, #383838 100%);
  background: -o-linear-gradient(top, #606060 0%, #383838 100%);
  background: -ms-linear-gradient(top, #606060 0%, #383838 100%);
  background: linear-gradient(to bottom, #606060 0%, #383838 100%);
  -webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,0.18);
  -moz-box-shadow: inset 0 1px 2px rgba(255,255,255,0.18);
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.18);
}
#nav-ul {
  width: auto;
  height: 49px;
}
.nav-li {
  width: 63px;
  height: 49px;
  border-left: 1px solid #171717;
  float: right;
}
#nav-snapshot {
  background-position: 14px -344px;
}
#nav-cluster {
  background-position: 14px 10px;
}
#nav-ring {
  background-position: 14px -39px;
}
#nav-objects {
  background-position: 14px -90px;
}
#nav-mapreduce {
  background-position: 14px -140px;
}
#nav-graphs {
  background-position: 14px -192px;
}
#nav-logs {
  background-position: 14px -248px;
}
#nav-support {
  background-position: 14px -300px;
}
.nav-item {
  width: 63px;
  height: 49px;
  background: #3a3a3a;
  background: -moz-linear-gradient(top, #606060 0%, #3a3a3a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(100%, #3a3a3a));
  background: -webkit-linear-gradient(top, #606060 0%, #3a3a3a 100%);
  background: -o-linear-gradient(top, #606060 0%, #3a3a3a 100%);
  background: -ms-linear-gradient(top, #606060 0%, #3a3a3a 100%);
  background: linear-gradient(to bottom, #606060 0%, #3a3a3a 100%);
  -webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,0.18);
  -moz-box-shadow: inset 0 1px 2px rgba(255,255,255,0.18);
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.18);
  display: block;
  font-size: 18px;
  vertical-align: middle;
  position: relative;
}
.nav-item:hover {
  background: #484848;
  background: -moz-linear-gradient(top, #6b6b6b 0%, #484848 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b6b6b), color-stop(100%, #484848));
  background: -webkit-linear-gradient(top, #6b6b6b 0%, #484848 100%);
  background: -o-linear-gradient(top, #6b6b6b 0%, #484848 100%);
  background: -ms-linear-gradient(top, #6b6b6b 0%, #484848 100%);
  background: linear-gradient(to bottom, #6b6b6b 0%, #484848 100%);
}
.nav-item .indicator {
  width: 63px;
  height: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(255,255,255,0.4);
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.4);
  display: block;
  background: #767676;
  border-top: 1px solid #171717;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-li.active a {
  background: #363636;
  -webkit-box-shadow: inset 0 0 18px rgba(0,0,0,0.7);
  -moz-box-shadow: inset 0 0 18px rgba(0,0,0,0.7);
  box-shadow: inset 0 0 18px rgba(0,0,0,0.7);
}
.nav-li.active span {
  -webkit-box-shadow: 0 0 20px #f99d33;
  -moz-box-shadow: 0 0 20px #f99d33;
  box-shadow: 0 0 20px #f99d33;
  background: #f99d33;
  background: -moz-linear-gradient(top, #fbbd76 0%, #f99d33 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbbd76), color-stop(100%, #f99d33));
  background: -webkit-linear-gradient(top, #fbbd76 0%, #f99d33 100%);
  background: -o-linear-gradient(top, #fbbd76 0%, #f99d33 100%);
  background: -ms-linear-gradient(top, #fbbd76 0%, #f99d33 100%);
  background: linear-gradient(to bottom, #fbbd76 0%, #f99d33 100%);
}
.nav-li .nav-item:hover {
  cursor: pointer;
}
#riak-control-logo {
  width: 224px;
  height: 42px;
  display: block;
  background: url("/admin/ui/images/riak-control-logo.png") right bottom no-repeat transparent;
  float: left;
}
#basho-logo {
  width: 43px;
  height: 44px;
  position: absolute;
  right: 12px;
  top: 12px;
  display: block;
  background: url("/admin/ui/images/basho-logo.png") left top no-repeat transparent;
}
#wrapper {
  width: auto;
  height: auto;
  background: transparent;
  margin-bottom: 8px;
}
#content-well {
  overflow: hidden;
  background: transparent;
  padding: 5px 14px 0 25px;
}
/* Ende IDs & Classes */
