/*
CSS to be applied ONLY on the snapshot page
*/
#ring-filter {
  text-align: left;
  padding-left: 25px;
  margin-top: -5px;
  float: right;
}
#ring-filter .gui-dropdown-wrapper {
  width: 100%;
  height: 30px;
  min-width: 169px;
}
h3 {
  color: #efefef;
}
#partition-list {
  margin-top: 13px;
}
tr:hover {
  background-color: rgba(255,255,255,0.08);
}
thead tr:hover,
tr.no-highlight:hover {
  background-color: transparent;
}
