/*
CSS to be applied ONLY on the snapshot page
*/
#healthy-cluster,
#unhealthy-cluster {
  padding-top: 25px;
}
#healthy-cluster section,
#unhealthy-cluster section {
  padding-left: 336px;
}
#healthy-cluster h2,
#unhealthy-cluster h2 {
  padding-top: 20px;
}
#healthy-cluster h3,
#unhealthy-cluster h3 {
  margin-top: 30px;
}
#healthy-cluster ul,
#unhealthy-cluster ul {
  margin: 10px 0 0 20px;
}
#healthy-cluster li,
#unhealthy-cluster li {
  font-family: 'menlo', 'consolas', 'monaco', monospace;
  line-height: 1.5;
}
#healthy-cluster li a,
#unhealthy-cluster li a {
  color: #efefef;
}
#health-indicator {
  width: 311px;
  height: 309px;
  float: left;
  margin-right: 25px;
}
/* RESPONSIVE MEDIA QUERIES */
@media screen and (max-width : 899px) {
  #health-indicator {
    width: 250px;
    height: 249px;
  }
  #healthy-cluster section,
  #unhealthy-cluster section {
    padding-left: 275px;
  }
}
@media screen and (max-width : 499px) {
  .health-info {
    text-align: center;
  }
  #health-indicator {
    margin: 0 auto;
    float: none;
    display: block;
  }
  #healthy-cluster section,
  #unhealthy-cluster section {
    padding-left: 0;
    margin: 0 auto;
    text-align: left;
  }
}
/* END RESPONSIVE MEDIA QUERIES */
