/* 
Main Stylus CSS File
Imports and arranges all other stylus files.
*/
.headline-font,
.headline-bold,
.gui-headline,
.gui-headline-bold,
.gui-headline-bold {
  font-family: 'titillium', helvetica, arial, sans-serif;
}
.copy-font,
.copy-bold,
.gui-text,
.gui-text-bold,
.gui-text-bold,
h3,
.nav-li,
.nav-li {
  font-family: 'noticia', georgia, serif;
}
.monospace {
  font-family: 'menlo', 'consolas', 'monaco', monospace;
}
.copy-bold,
.gui-text-bold,
.nav-li {
  font-weight: bold;
}
.headline-bold,
.gui-headline-bold {
  font-weight: bold;
}
.gui-text,
.gui-text-bold,
.nav-li {
  text-shadow: 0 2px 0 #000;
  color: #ccc;
  font-size: 14px;
}
.gui-text-bold,
.nav-li {
  color: #efefef;
}
.gui-headline,
.gui-headline-bold {
  text-shadow: 0 2px 0 #000;
  color: #ccc;
  text-shadow: 0 2px 0 #000;
}
.gui-headline-bold {
  color: #efefef;
  font-weight: bold;
}
.has-cut {
  background: url("/admin/ui/images/cut-bg.png") left bottom repeat-x transparent;
}
.bulleted {
  list-style-type: disc;
}
.clear {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
@font-face {
  font-family: 'noticia';
  src: url("/admin/ui/fonts/noticiatext-italic-webfont.eot");
  src: url("/admin/ui/fonts/noticiatext-italic-webfont.eot?#iefix") format('embedded-opentype'), url("/admin/ui/fonts/noticiatext-italic-webfont.woff") format('woff'), url("/admin/ui/fonts/noticiatext-italic-webfont.ttf") format('truetype'), url("/admin/ui/fonts/noticiatext-italic-webfont.svg#noticia_textitalic") format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'noticia';
  src: url("/admin/ui/fonts/noticiatext-regular-webfont.eot");
  src: url("/admin/ui/fonts/noticiatext-regular-webfont.eot?#iefix") format('embedded-opentype'), url("/admin/ui/fonts/noticiatext-regular-webfont.woff") format('woff'), url("/admin/ui/fonts/noticiatext-regular-webfont.ttf") format('truetype'), url("/admin/ui/fonts/noticiatext-regular-webfont.svg#noticia_textregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium';
  src: url("/admin/ui/fonts/titilliumtext25l002-webfont.eot");
  src: url("/admin/ui/fonts/titilliumtext25l002-webfont.eot?#iefix") format('embedded-opentype'), url("/admin/ui/fonts/titilliumtext25l002-webfont.woff") format('woff'), url("/admin/ui/fonts/titilliumtext25l002-webfont.ttf") format('truetype'), url("/admin/ui/fonts/titilliumtext25l002-webfont.svg#titilliumtext25l600_wt") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'titillium';
  src: url("/admin/ui/fonts/titilliumtext25l005-webfont.eot");
  src: url("/admin/ui/fonts/titilliumtext25l005-webfont.eot?#iefix") format('embedded-opentype'), url("/admin/ui/fonts/titilliumtext25l005-webfont.woff") format('woff'), url("/admin/ui/fonts/titilliumtext25l005-webfont.ttf") format('truetype'), url("/admin/ui/fonts/titilliumtext25l005-webfont.svg#titilliumtext25l1_wt") format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  background: url("/admin/ui/images/gui-bg.jpg") left top repeat #2d2d2d;
}
body {
  padding: 0;
}
a {
  text-decoration: none;
}
a:visited {
  color: #efefef;
}
h1,
h2,
h3 {
  display: block;
}
h1 {
  font-size: 48px;
  letter-spacing: 0;
  padding-bottom: 5px;
}
h2 {
  font-size: 38px;
  letter-spacing: 0;
  padding-bottom: 12px;
}
h3 {
  font-size: 20px;
  letter-spacing: 0;
  padding-bottom: 8px;
  color: #ccc;
  font-style: italic;
}
nav {
  background: transparent;
  float: right;
}
table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
}
#header {
  width: 100%;
  height: 53px;
  border-bottom: 1px solid rgba(255,255,255,0.18);
  background: #171717;
  margin: 0 0 22px 0;
  position: fixed;
  top: 0;
  left: 0;
}
#navbar {
  width: auto;
  height: 49px;
  background: #383838;
  background: -moz-linear-gradient(top, #606060 0%, #383838 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(100%, #383838));
  background: -webkit-linear-gradient(top, #606060 0%, #383838 100%);
  background: -o-linear-gradient(top, #606060 0%, #383838 100%);
  background: -ms-linear-gradient(top, #606060 0%, #383838 100%);
  background: linear-gradient(to bottom, #606060 0%, #383838 100%);
  -webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,0.18);
  -moz-box-shadow: inset 0 1px 2px rgba(255,255,255,0.18);
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.18);
}
#nav-ul {
  width: auto;
  height: 49px;
}
.nav-li {
  width: 63px;
  height: 49px;
  background: #3a3a3a;
  background: -moz-linear-gradient(top, #606060 0%, #3a3a3a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(100%, #3a3a3a));
  background: -webkit-linear-gradient(top, #606060 0%, #3a3a3a 100%);
  background: -o-linear-gradient(top, #606060 0%, #3a3a3a 100%);
  background: -ms-linear-gradient(top, #606060 0%, #3a3a3a 100%);
  background: linear-gradient(to bottom, #606060 0%, #3a3a3a 100%);
  -webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,0.18);
  -moz-box-shadow: inset 0 1px 2px rgba(255,255,255,0.18);
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.18);
  border-left: 1px solid #171717;
  float: right;
  position: relative;
}
.nav-li:hover {
  background: #484848;
  background: -moz-linear-gradient(top, #6b6b6b 0%, #484848 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b6b6b), color-stop(100%, #484848));
  background: -webkit-linear-gradient(top, #6b6b6b 0%, #484848 100%);
  background: -o-linear-gradient(top, #6b6b6b 0%, #484848 100%);
  background: -ms-linear-gradient(top, #6b6b6b 0%, #484848 100%);
  background: linear-gradient(to bottom, #6b6b6b 0%, #484848 100%);
}
.nav-li:hover a {
  opacity: 1;
  filter: alpha(opacity=100);
}
.nav-li a {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#nav-snapshot  a {
  background-position: 15px -343px;
}
#nav-cluster   a {
  background-position: 16px 10px;
}
#nav-ring      a {
  background-position: 15px -39px;
}
#nav-objects   a {
  background-position: 14px -90px;
}
#nav-mapreduce a {
  background-position: 14px -140px;
}
#nav-graphs    a {
  background-position: 14px -192px;
}
#nav-logs      a {
  background-position: 14px -248px;
}
#nav-support   a {
  background-position: 14px -300px;
}
.nav-item {
  width: 63px;
  height: 49px;
  background: url("/admin/ui/images/nav-icons.png") -100px 100px no-repeat transparent;
  display: block;
  font-size: 18px;
  vertical-align: middle;
}
.indicator {
  width: 63px;
  height: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(255,255,255,0.4);
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.4);
  display: block;
  background: #767676;
  border-top: 1px solid #171717;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-li.active {
  -webkit-box-shadow: inset 0 0 18px rgba(0,0,0,0.7);
  -moz-box-shadow: inset 0 0 18px rgba(0,0,0,0.7);
  box-shadow: inset 0 0 18px rgba(0,0,0,0.7);
  background: #363636;
}
.nav-li.active a {
  opacity: 1;
  filter: alpha(opacity=100);
}
.nav-li.active span {
  -webkit-box-shadow: 0 0 20px #f99d33;
  -moz-box-shadow: 0 0 20px #f99d33;
  box-shadow: 0 0 20px #f99d33;
  background: #f99d33;
  background: -moz-linear-gradient(top, #fbbd76 0%, #f99d33 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbbd76), color-stop(100%, #f99d33));
  background: -webkit-linear-gradient(top, #fbbd76 0%, #f99d33 100%);
  background: -o-linear-gradient(top, #fbbd76 0%, #f99d33 100%);
  background: -ms-linear-gradient(top, #fbbd76 0%, #f99d33 100%);
  background: linear-gradient(to bottom, #fbbd76 0%, #f99d33 100%);
}
.nav-li .nav-item:hover {
  cursor: pointer;
}
#riak-control-logo {
  width: 224px;
  height: 42px;
  display: block;
  background: url("/admin/ui/images/riak-control-logo.png") right bottom no-repeat transparent;
  float: left;
}
#wrapper {
  width: auto;
  height: auto;
  background: transparent;
  margin: 75px 0 8px 0;
}
#content-well {
  overflow: hidden;
  background: transparent;
  padding: 5px 25px 0;
  margin-bottom: 50px;
}
#title-container,
footer {
  text-align: center;
}
.side-line,
.title-box {
  vertical-align: top;
  float: left;
}
.side-line {
  width: 26%;
  height: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.18);
}
.title-box {
  width: 48%;
  height: auto;
  padding: 0 0 8px;
  border-bottom: 1px solid rgba(255,255,255,0.18);
  position: relative;
}
.vert-border,
.vert-border-left,
.vert-border-right {
  width: 1px;
  height: 100%;
  display: block;
  background: rgba(255,255,255,0.18);
  position: absolute;
  top: 0;
}
.vert-border-left {
  left: 0;
}
.vert-border-right {
  right: 0;
}
footer {
  padding: 0 25px 0;
}
footer .title-box {
  width: 16%;
  height: auto;
  border-bottom: none;
}
footer .side-line {
  width: 42%;
  height: 25px;
}
#basho-logo {
  display: block;
  background: transparent;
}
