.nodes {
    list-style-type: none;  border-radius: 0.5em;
    padding: 0;
    margin: 0;
}
.nodes li:hover {
    background-color: #6F0;
}

.nodes li {
    display: inline-block;
    padding: 0.5em 1.5em;
    cursor: pointer;
}

.message {
    cursor: pointer;
}
