.vnodes {
    list-style-type: none;
     padding: 0;
    margin: 0;
}
.vnodes li.away {
    background: url(blue-rectangle-16.png) no-repeat bottom left;
}

.vnodes li.home {
    background: url(green-circle-filled-16.png) no-repeat bottom left;
}

.vnodes li.handingoff {
    background: url(orange-arrow-right-16.png) no-repeat bottome left;
}

.vnodes li.recievehandoff {
    background: url(orange-arrow-left-16.png) no-repeat bottome left;
}

.vnodes li {
    display: inline-block;
    padding: 0 0 1.2em 1em;
    cursor: pointer;
}

.message {
    cursor: pointer;
}

.services {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.services li {
    display: inline-block;
    padding: 0 0 0 0.5em;
    margin: 0;
}

table thead tr th {
    padding: 0.5em 1.5em;
}

table thead tr th.node {
    cursor: pointer;
}

table thead tr th.node:hover {
    background-color: #6F0;
}

table tbody tr td.owner {
    background-color: #ddd;
}